.seller-content {
    width: 100%;
    white-space: pre-line;
}

.seller-detail {
    width: 100%;
    display: flex;
    margin-bottom: 0.75rem;
}

.seller-detail-left {
    width: 35%;
    margin: 0 5rem;
}

.seller-detail-right {
    width: 50%;
    margin: 0 auto;
    padding-right: 1rem;
}

.seller-cover {
    display: block;
    padding-top: 100%;
    margin: auto;
    background: no-repeat center;
    background-size: contain;
    border: solid #2d5175 2px;
    box-sizing: border-box;
}

.seller-number {
    text-align: center;
    margin-top: 0.4rem;
    height: 1.5rem;
}

.seller-detail-title {
    font-size: 2.5rem;
}

@media (max-width: 1016px) {
    .seller-detail-right {
        padding-right: 0;
    }
}
