.seller-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.seller-display {
    display: block;
    width: 45%;
    margin: 1rem auto 1rem 1rem;
}

@media (min-width: 1280px) {
    .seller-display {
        width: 20%;
        margin: 1rem 0 1rem 2rem;
    }
}

.seller-cover {
    padding-top: 100%;
    border: solid #fefefe 2px;
    background: no-repeat center;
    background-size: contain;
    margin: auto;
    box-sizing: border-box;
}

.seller-title {
    text-align: center;
    margin-top: 0.25rem;
    font-size: 1.3rem;
}
