.app-home {
    background: url("../Images/background-home.png") no-repeat no-repeat;
    background-position-x: center;
    display: flex;
}

.home-container {
    margin: auto;
    display: inline-block;
    user-select: none;
}

.home-title {
    color: #fefefe;
}

.home-title-inner {
    display: inline-block;
    text-align: justify;
}

.home-title-inner > h1 {
    margin: 0;
    line-height: 7.5rem;
    font-size: 7.5rem;
    display: inline-block;
}

.home-title-h2-inner {
    text-align: justify;
    text-align-last: justify;
    display: inline-block;
    line-height: 0;
    width: 100%;
    font-size: 0;
}

.home-title-h2-inner > h2 {
    width: 100%;
    margin: 0;
    font-size: 4rem;
    line-height: 4rem;
    display: inline-block;
}

@media (max-width: 480px) {
    .home-title-inner > h1 {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }

    .home-title-h2-inner > h2 {
        font-size: 2.1rem;
        line-height: 2.1rem;
    }
}

.home-news-button {
    display: inline-block;
    margin-top: 6rem;
    padding: 0.25rem 4.5rem;
    font-size: 1.5rem;
    background: #4ececb;
    text-decoration: none;
    color: #0d0e0f;
    font-weight: bold;
}

.home-news-button:hover {
    color: inherit;
}

.home-navs {
    display: flex;
    width: 80%;
    margin: 3rem auto 0;
}

@media (max-width: 480px) {
    .home-navs {
        width: 100%;
    }
}

.home-navs > a {
    display: block;
    box-sizing: content-box;
    margin: 0 auto;
    font-size: 1.4rem;
    width: 3rem;
    height: 3rem;
    border: solid 1px;
    border-radius: 2.5rem;
    padding: 1rem;
    text-align: center;
    line-height: 1.5rem;
    text-decoration: none;
    color: #fefefe;
}

.home-staff > a {
    display: block;
    color: #fefefe;
    font-size: 1.4rem;
    font-weight: bold;
    width: 12.6rem;
    text-align: justify;
    text-align-last: justify;
    text-decoration: none;
    margin: 2rem auto auto;
}
