.App {
    background: #000000;
    text-align: center;
    width: 100%;
    height: 100%;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.App-background-landscape {
    background-size: 100% auto !important;
}

.App-background-portrait {
    background-size: auto 100% !important;
}

.background-characters {
    display: none;
    pointer-events: none;
}

@media (min-width: 1280px) {
    .background-characters {
        display: block;
    }
}
